/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
/src/Ymir/YmirTyrBundle/Resources/public/vendor/
/src/Ymir/YmirTyrBundle/Resources/public/css/.sass-cache/
.buildpath
.project
.settings/
