/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
/composer.lock
Ymir/composer.lock
/src/Ymir/YmirTyrBundle/Resources/public/vendor/
/src/Ymir/YmirTyrBundle/Resources/public/css/.sass-cache/
/.sass-cache/
.buildpath
.project
.settings/
/src/Ymir/YmirTyrBundle/Resources/public/css/*.css

lancement.sh
/web/css/*.css
/web/js/*.js
*~
