/* line 7, sass/creative.scss */
.widget-toolbar {
  color: #CECECE;
  background: none repeat scroll 0% 0% #2A2B30;
}

/* line 12, sass/creative.scss */
.widget-toolbar-titles li {
  background: none repeat scroll 0% 0% #43444A;
  padding: 4px;
  border-style: solid;
  border-right: 1px solid #676767;
  cursor: pointer;
}
/* line 19, sass/creative.scss */
.widget-toolbar-titles li.active {
  background: none repeat scroll 0% 0% #42444F;
  cursor: default;
}
/* line 23, sass/creative.scss */
.widget-toolbar-titles li:not(.active):hover {
  background: none repeat scroll 0% 0% #37383E;
}
