<div class="panel">
    <div class="row">

    	<div class = "large-2 columns ">
    		<p> Nom de la page </p>
    	</div>

    	<div class="large-1 columns">
    		<a href="#"><i class="fi-save large"></i></a>
    	</div>

    	<div class = "large-2 columns">
    		<!-- <p> Auto save </p> -->
    		<input id="AutoSave" type="checkbox"><label for="AutoSave">AutoSave</label>
    	</div>
    	

    	<div class = "large-2 columns">
    		<input id="ShowGrid" type="checkbox"><label for="ShowGrid">ShowGrid</label>
    	</div>

    	<div class = "large-3 columns">
    		<p> 
	    		responsive mode 
	    		<button href="#" data-dropdown="responsiveMode" aria-controls="responsiveMode" aria-expanded="false" class="tiny button dropdown">Large</button><br>
				<ul id="responsiveMode" data-dropdown-content class="f-dropdown" aria-hidden="true">
					<li><a href="#">Large</a></li>
					<li><a href="#">Medium</a></li>
					<li><a href="#">Small</a></li>
				</ul>
    		</p>
    	</div>

    </div>
</div>