<div class="panel global-toolbar">
	<div class="row">

        <div class ="small-3 columns devices">
        	{% if id_page is defined %}
	            <ul class="button-group">
					<li><button class="button" id="save_page"><i id="save_page_icon" class="fi-save"></i></button></li>
					<li><a href="{{ path('preview', { 'id_page': id_page}) }}" target="_blank"> <button class="button" id="preview_page"><i class="fi-play-video"></i></button></a></li>
					<li><a href="{{ path('exportPage', { 'id_page': id_page}) }}"><button class="button" id="download_page"><i class="fi-upload"></i></button></a></li>
				</ul>
			{% endif %}
		</div>

		<div class="small-offset-2 small-3 columns">
			<input class="project-name-input" type="text" value="Nom de la page" placeholder="Nom de la page">
		</div>
        
        <div class ="small-2 columns devices">
            <ul class="button-group">
                <li><button id="checkbox_mobile" class="button"><i class="fi-mobile"></i></button></li>
                <li><button id="checkbox_tablet" class="button"><i class="fi-tablet-landscape"></i></button></li>
                <li><button id="checkbox_rotate" class="button"><i class="fi-loop"></i></button></li>
            </ul>	
        </div>
        
	</div>
</div>