<div class="panel global-toolbar">
	<div class="row">

		<div class="small-1 columns">
			<button class="button">
				<i class="fi-save large"> Save</i></a>
		
		</div>
		
		<div class="small-1 columns">
			<div class="switch">
				<input id="auto-save" type="checkbox"> <label for="auto-save"></label>
			</div>
			<label>Auto save </label>
		</div>

		<div class="small-1 columns">
			<label>Show grid </label>
			<div class="switch">
				<input id="show-grid" type="checkbox"> <label for="show-grid"></label>
			</div>
		</div>
		
		<div class="small-offset-2 small-2 columns">
			<input type="text" value="Page Name" placeholder="Nom de la page">
		</div>

        <div class="small-offset-1 small-4 columns devices">
			<input id="checkbox_mobile" type="checkbox"><label for="checkbox_mobile">Mobile phone</label>
			<input id="checkbox_tablet" type="checkbox"><label for="checkbox_tablet">Tablet</label>
			<input id="checkbox_rotate" type="checkbox"><label for="checkbox_rotate">Rotate device</label>
		</div>
	</div>
</div>