{% extends "TyrBundle::layout.html.twig" %}

{% block body %}
<section class="creative-page">
       
        <section class="full-height">
	        <div class="small-3 medium-2 large-2 columns full-height no-padding toolbar">
	            {{ include("TyrBundle:Creative:toolsbar.html.twig") }}
	        </div>
	        <div class="small-9 medium-10 large-10 columns end no-padding full-height">
	            {{ include("TyrBundle:Creative:globaltoolsbar.html.twig") }}   
	            {{ include("TyrBundle:Creative:stage.html.twig") }}  
	        </div>
        </section>
</section>


<div id="mockup-mobile" class="device-draggable">
	<div class="device-mockup lumia920">
		<div class="device">
			<div class="screen">
				<iframe id="mobile-fram" width="64.0625em" height=100%><p> hello world</p></iframe>
	        	
			</div>
		</div>
	</div>
</div>
<div id="mockup-tablet" class="device-draggable">
	<div class="device-mockup galaxy_tab4 landscape black">
		<div class="device">
			<div class="screen">
				<iframe id="mobile-fram" width="64.0625em" height=100%><p> hello world</p></iframe>
	        	
			</div>
		</div>
	</div>
</div>
<div id="mockup-desktop" class="device-draggable">
	<div class="device-mockup imac">
		<div class="device">
			<div class="screen">
				<iframe id="mobile-fram" width="64.0625em" height=100%><p> hello world</p></iframe>
	        	
			</div>
		</div>
	</div>
</div>

<div id="container-modal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
	<form>
        <h1>Container parameters</h1>

        <label>Name <input name="name" id="name" type="text"></label>

		<label>Row <input name="isRow" id="isRow" type="checkbox"></label>

        <label>Choose a number of columns
			<select name="nbColumns" id="nbColumns"><option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option><option>11</option><option>12</option>
			</select>
		</label>

        <h2>columns sizing</h2>
        <div>
			<select data-column-index="1" name="columnsSize_1" class="columnsSize"><option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option><option>11</option><option>12</option>
			</select>
		</div>
		<a class="close-reveal-modal" aria-label="Cancel">&#215;</a>
		<button class="button" id="container-parameters-add">Add</button>
    </form>
</div>


<script type="text/template" id="categorie-template">
		<a href="#categorie_<%= id %>"><%= name %>
			<i class="fi-arrow-down "></i>
		</a>
		<div id="categorie_<%= id %>" class="content">
			<ul class="dropdown">
			<% widgets.each(function(widget) { %>
				<li class="show-widget-preview draggable" data-widget-id="<%= widget.get('id') %>" data-categorie-id="<%= id %>">
					<a href="#<%= widget.get('id') %>"><%= widget.get('name') %></a>
					<div class="widget-preview" disabled="true"><%= widget.get('htmlPreview') %></div>
				</li>
			<% }); %>
			</ul>
		</div>
</script>

<script type="text/template" id="widget-template">
    <% widgets.each(function(widget) { %>
        <<%= widget.get('tag') %> class="<%= widget.get('class') %>"><%= widget.get('content') %></<%= widget.get('tag') %>>
   <% }); %>
</script>
{% endblock %}