<div class="panel no-padding no-margin full-height stage droppable">
    <iframe>
        <!doctype html>
        <html>
        <head>
        <title></title>
        </head>
        <body id = "stage">
            
        </body>
        </html>
    </iframe>
</div>