<div class="panel no-padding no-margin full-height stage droppable">
	<section>
		<div class="large-2 columns droppable"></div>
		<div class="large-6 columns droppable"></div>
		<div class="large-6 columns end droppable"></div>
	</section>
    <div id = "stage">
    
    </div>
</div>