<div class="panel no-padding no-margin full-height stage droppable">
<<<<<<< HEAD
    <iframe>
        <!doctype html>
        <html>
        <head>
        <title></title>
        </head>
        <body id = "stage">
            
        </body>
        </html>
    </iframe>
=======
	<section>
		<div class="large-2 columns droppable"></div>
		<div class="large-6 columns droppable"></div>
		<div class="large-6 columns end droppable"></div>
	</section>
>>>>>>> d3888cfd0021d5b2a47e1251a6e9ebac4c047a89
</div>