<div class="panel no-padding no-margin full-height stage droppable">
    <iframe>
        <!doctype html>
        <html>
        <head>
        <title></title>
        </head>
        <body id = "stage">
            
        </body>
        </html>
    </iframe>
	<section>
		<div class="large-2 columns droppable"></div>
		<div class="large-6 columns droppable"></div>
		<div class="large-6 columns end droppable"></div>
	</section>
</div>