<ul class="side-nav">
    <div class="fixedPosition">
    <div class="row">
        <ul class="tabs" data-tab>
          <li class="tab-title active"><a href="#panel1">Widget</a></li>
          <li class="tab-title"><a href="#panel2">HTML,CSS</a></li>
          <li class="tab-title"><a href="#panel3">Tree</a></li>
        </ul>
        <div class="tabs-content">
            <ul class="accordion" data-accordion="myAccordionGroup">
              <li class="accordion-navigation">
                <a href="#Cat1">Catégorie 1 <i class="fi-arrow-down "></i></a>
                <div id = "Cat1" class="content">
                    <ul class="dropdown">
                      <li><a href="#">Widget 1</a></li>
                      <li><a href="#">Widget 2</a></li>
                    </ul>
                </div>
              </li>
              <li class="accordion-navigation">
                <a href="#Cat2">Catégorie 2 <i class="fi-arrow-down "></i></a>
                <div id = "Cat2" class="content">
                    <ul class="dropdown">
                      <li><a href="#">Widget 1</a></li>
                      <li><a href="#">Widget 2</a></li>
                    </ul>
                </div>
              </li>
            </ul>
          </div>
            
            <!--Panel HTML,CSS-->
          <div class="content" id="panel2">
           
          </div>
            <!--Panel Grille-->
          <div class="content" id="panel3">
          
          </div>
        </div>
    </div>
    
    <div class="row">
        <span class="text-center">
            <hr>
            <h2>Paramétres</h2>
            <hr>
        </span>      
    </div>
    <ul>
        <li>
            <div class = "row">
                    
                        <div >Param 1
                        <div class="text right">
                        <button href="#" data-dropdown="drop1" aria-controls="drop1" aria-expanded="false" class="button radius dropdown tiny">Param</button><br>
                            <ul id="drop1" data-dropdown-content class="f-dropdown" aria-hidden="true">
                          <li><a href="#">This is a link</a></li>
                          <li><a href="#">This is another</a></li>
                          <li><a href="#">Yet another</a></li>
                        </ul>
                        </div>
                        </div>
                    </div>
        </li>
        <li>
            <div> 
                 <a href="#">Param 2</a>
            </div>
        </li>
        <li>
            <div> 
                 <a href="#">Param 3</a>
            </div>
        </li>
    
    </ul>
    
    
</ul>