
<ul class="side-nav toolbar-widget no-padding">
	<div class="row">
		<ul class="tabs" data-tab>
			<li class="tab-title active"><a href="#widgets-panel">Widget</a></li>
			<li class="tab-title"><a href="#htmlcss-panel">HTML,CSS</a></li>
			<li class="tab-title"><a href="#grid-panel">Grid</a></li>
		</ul>

		<!--Panel widget-->
		<div class="tabs-content" id="widgets-panel">
			<ul class="accordion toolbar-widget-categorie-list" data-accordion="myAccordionGroup">
				 <!-- backbone template -->
			</ul>
		</div>

		<!--Panel HTML,CSS-->
		<div class="content" id="htmlcss-panel"></div>
		<!--Panel Grille-->
		<div class="content" id="grid-panel"></div>
	</div>
</ul>

<div class="side-nav no-padding toolbar-parameter">
	<div>
		<hr class="no-margin">
		<h2>Parameters</h2>
		<hr class="no-margin">
	</div>
	<ul>
		<li>
			<div class="row toolbar-parameter-edition">
				<div>
					<label for="" class="left inline">color : </label>
					<input class="toolbar-parameter-input-text" type="text" id="" placeholder="white">
				</div>
			</div>
		</li>
		<li>
			<div class="row toolbar-parameter-edition">
				<div>
					<label for="" class="left inline">background-color : </label>
					<input class="toolbar-parameter-input-text" type="text" id="" placeholder="black">
				</div>
			</div>
		</li>
		<li>
			<div class="row toolbar-parameter-edition">
				<div>
					<label for="" class="left inline">height : </label>
				</div>
				<div>
					<input class="toolbar-parameter-input-text" type="text" id="" placeholder="15px">
				</div>
			</div>
		</li>
	</ul>
</div>
