
<ul class="side-nav toolbar-meta-widget no-padding">
	<div class="row">
		<ul class="tabs" data-tab>
			<li class="tab-title active"><a href="#widgets-panel">Widget</a></li>
			<li class="tab-title"><a href="#htmlcss-panel">HTML,CSS</a></li>
			<li class="tab-title"><a href="#grid-panel">Grid</a></li>
		</ul>

		<!--Panel meta-widget-->
		<div class="tabs-content" id="meta-widgets-panel">
			<ul class="accordion toolbar-meta-widget-categorie-list" data-accordion="myAccordionGroup">
				<!-- Backbone template -->
			</ul>
		</div>

		<!--Panel HTML,CSS-->
		<div class="content" id="htmlcss-panel"></div>
		<!--Panel Grille-->
		<div class="content" id="grid-panel"></div>
	</div>
</ul>

<div class="side-nav no-padding toolbar-parameter">
	<div>
		<hr class="no-margin">
		<h2>Parameters</h2>
		<hr class="no-margin">
	</div>
	<ul id="toolbar-html-element-property-list">
	</ul>
</div>
