<div class="panel">
	<div class="large-2 columns">
    	<p> Ymir </p>
    </div>
    <div class="large-2 columns end">
    	<!-- <IMG src= "D:\Programmes\wamp\www\ymir\Ymir\web" alt="Logo" title="Ymir"> -->
    	<p> Logo </p>
    </div>
</div>
