<nav class="top-bar docs-bar hide-for-small" data-topbar="">
	<ul class="title-area">
		<li class="name">
			<h1><a href="#">Ymir</a></h1>
		</li>
		<li class="name">
		</li>
	</ul>

  
	<section class="top-bar-section">
	<!---->
		{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
			<div class="right">
	            {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
	            <a href="{{ path('fos_user_security_logout') }}">
	                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
	            </a>
            </div>
        {% else %}
        	{% include "TyrBundle:Default:login_form.html.twig"  with {'error': '', csrf_token : ''}%}
        {% endif %}
	<!--</div>-->
	</section>
</nav>
 