<div class="panel">
	<div class="large-1 columns">
    	<h1> Ymir </h1>
    </div>
    <div class="text-left">
    	<!-- <IMG src= "D:\Programmes\wamp\www\ymir\Ymir\web" alt="Logo" title="Ymir"> -->
    	<p> Logo </p>
    </div>
</div>
