{% extends "TyrBundle::layout.html.twig" %}

{% block body %}
<!--



    <% pages.each(function(page) { %>
                <li>
                    <ul class="inline-list">
                        <li><span>"><%= page.get('title') %></span></li>
				        <li><a class="edit-page" href="edit"><i class="fi-page-edit"></i></a></li>
				        <li><a class="remove-page" href="remove"><i class="fi-x"></i></a></li>
                    </ul>
                </li>
    <% }); %>
    



-->


<section>
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") != true %}
        <div class ="row">
            <div class="large-8 columns">
                <article>
                    {{ include("TyrBundle:Security:register.html.twig") }}
                </article>
            </div>
            <section>
            <div class="large-4 columns">
                <div class="panel">
                    <h1>About Us :</h1>
                    <p> Tired of sleepless nights to code websites ? watch tons of tutorials on web languages ​​? So Ymir is for you a few clicks to create a beautiful suffisents sites. <br />
                    <h3>Join Us !  <a>Learn more</a> </h3>
                    </p>
                    <hr>
                    {{ include("TyrBundle:Default:tryit.html.twig") }}
                </div>
            </div>
            </section>
        </div>
    {% endif %}
</section>




{% endblock %}

