{% extends "TyrBundle::layout.html.twig" %}

{% block body %}
<header>
	{{ include("TyrBundle:Profil:header.html.twig") }}
</header>
<section class="creative-page">
       
        <section class="full-height">
	        <div class="small-3 medium-2 large-2 columns full-height no-padding toolbar">
	            {{ include("TyrBundle:Creative:toolsbar.html.twig") }}
	        </div>
	        <div class="small-9 medium-10 large-10 columns end no-padding full-height">
	            {{ include("TyrBundle:Creative:globaltoolsbar.html.twig") }}   
	            {{ include("TyrBundle:Creative:stage.html.twig") }}  
	        </div>
        </section>
</section>
{% endblock %}