{% extends "TyrBundle::layout.html.twig" %}

{% block body %}
<!--



<% pages.each(function(page) { %>
                <li>
                    <ul class="inline-list">
                        <li><span>"><%= page.get('title') %></span></li>
				        <li><a href="#editpage<%= page.get('id') %>"><i class="fi-page-edit"></i></a></li>
				        <li><a href="#deletepage<%= page.get('id') %>"><i class="fi-x"></i></a></li>
                    </ul>
                </li>
			<% }); %>



-->


<section>
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") != true %}
        <div class ="row">
            <div class="large-8 columns">
                <article>
                    {{ include("TyrBundle:Security:register.html.twig") }}
                </article>
            </div>
            <section>
            <div class="large-4 columns">
                <div class="panel">
                    <h1>About Us :</h1>
                    <p> Tired of sleepless nights to code websites ? watch tons of tutorials on web languages ​​? So Ymir is for you a few clicks to create a beautiful suffisents sites. <br />
                    <h3>Join Us !  <a>Learn more</a> </h3>
                    </p>
                    <hr>
                    {{ include("TyrBundle:Default:tryit.html.twig") }}
                </div>
            </div>
            </section>
        </div>
    {% endif %}
</section>

<div class="panel">
	<div class ="row">
		<div class ="large-2 columns">
			<h1> Projets </h1>
		</div>
		<div class ="large-2 columns">
			<a href="#" class="button small radius">New Project</a>
		</div>
        <div id="project-panel">
            <ul class="accordion project-list" data-accordion="myAccordionProject">
                            <!-- Backbone template -->
            </ul>
        </div>
	</div>
</div>


<script type="text/template" id="list-projet-template">
    <li class="accordion-navigation">
           <div class="row ">
              <div class="small-8 large-8 columns">
                <a href="#projet-<%= id%>"><%= nom %>
                </a>
              </div>
              <div class="small-2 large-2 columns">
                <a href="#download/<%= id%>"><i class="fi-download"></i>
                </a>
              </div>
              <div class="small-2 large-2 columns">
                <a href="#remove/<%= id%>"><i class="fi-x"></i>
                </a>
            </div>
         </div>				  
        <div id="projet-<%= id%>" class="content">
			<ul class="dropdown">
            </ul>
		</div>
	</li>
</script>


{% endblock %}

