<div class="panel">
	<div class="row">
	  	<div class="large-8 columns" >
            <h1>About Us :</h1>
	  		<p>Tired of sleepless nights to code websites ? watch tons of tutorials on web languages ​​?
So Ymir is for you a few clicks to create a beautiful suffisents sites.
</n>
Join Us !
</n>
<a>Learn more</a></p>
		</div>
		<div class="large-4 columns" >
  			<p>Picture super stylée</p>
		</div>
	</div>
</div>
