<div class="panel">
	<div class="row">
	  	<div class="large-6 columns" >
	  		<p>The Ydir project is about to create an application which allowed users to create easily their own website.</p>
		</div>
		<div class="large-6 columns" >
  			<p>Picture super stylée</p>
		</div>
	</div>
</div>
