<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
			{% stylesheets filter="cssrewrite" output="css/vendor.css" 
				"bundles/tyr/vendor/foundation/css/normalize.min.css"
				"bundles/tyr/vendor/foundation/css/foundation.min.css"
				"bundles/tyr/vendor/foundation-icon-fonts/foundation-icons.css"
			%}
				<link rel="stylesheet" href="{{ asset_url }}"/>
			{% endstylesheets %}
		{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
			{% javascripts  output='js/vendor.js'
						'bundles/tyr/vendor/underscore/underscore.js'
						'bundles/tyr/vendor/jquery/dist/jquery.js'
						'bundles/tyr/vendor/jquery-ui/jquery-ui.js'
						'bundles/tyr/vendor/modernizr/modernizr.js'
						'bundles/tyr/vendor/backbone/backbone.js'
						'bundles/tyr/vendor/fastclick/lib/fastclick.js'
						'bundles/tyr/vendor/foundation/js/foundation.js'
			%}
				<script type="text/javascript" src="{{ asset_url }}"></script>
			{% endjavascripts %}
		{% endblock %}
    </body>
</html>
