<div class ="panel callout radius ">
<ul class="tabs" data-tab>
  <li class="tab-title active"><a href="#panel1">Sign in</a></li>
  <li class="tab-title"><a href="#panel2">Sign Up</a></li>
</ul>
<div class="tabs-content">
    
  <div class="content active" id="panel1"> 
    <!-- Formulaire de connexion -->
    <form>
      <div class="row">
        <div class="large-6 columns">
          <label>Email
            <input type="text" />
          </label>
        </div>
          <div class="large-6 columns">
          <label>Password
            <input type="text"/>
          </label>
        </div>
      </div>
      <div class ="button large radius">Sign In</div>
    </form>
      
  </div>
    
    <!-- Sign up -->
  <div class="content " id="panel2">
      
     <!-- Formulaire d'inscription -->
    <form>
      <div class="row">
        <div class="large-6 columns">
          <label>First Name
            <input type="text" />
          </label>
        </div>
          <div class="large-6 columns">
          <label>Last Name
            <input type="text"/>
          </label>
        </div>
      </div>
      <div class="row">
            <div class="large-6 columns">
              <label>Password
                <input type="text" />
              </label>
            </div>

            <div class="large-6 columns">
              <label>Confirm Pasword
                <input type="text" />
              </label>
            </div>
        </div>
         <div class="row">
            <div class="large-6 columns">
              <label>Email Adress
                <input type="text" />
              </label>
            </div>
        </div>
          <div class ="button large radius">Sign Up</div>
    </form>
  </div>
</div>

</div>


    
   