/* line 3, ../sass/creative.scss */
.creative-page {
  height: -webkit-calc(100% - 50px) !important;
  height: calc(100% - 50px) !important;
}

/* line 7, ../sass/creative.scss */
.toolbar {
  color: #CECECE;
  background: none repeat scroll 0% 0% #2A2B30;
}

/* line 11, ../sass/creative.scss */
.toolbar-widget {
  position: absolute !important;
  width: 100% !important;
}
/* line 15, ../sass/creative.scss */
.toolbar-widget > div > ul {
  border-bottom: 1px solid #565656 !important;
}
/* line 17, ../sass/creative.scss */
.toolbar-widget > div > ul li {
  background: none repeat scroll 0% 0% #43444A !important;
  padding: 4px !important;
  border-style: solid !important;
  border-right: 1px solid #676767 !important;
}
/* line 22, ../sass/creative.scss */
.toolbar-widget > div > ul li a {
  background: inherit !important;
  color: inherit !important;
  padding: 0 !important;
}
/* line 28, ../sass/creative.scss */
.toolbar-widget > div > ul li.active {
  background: none repeat scroll 0% 0% #42444F !important;
  cursor: default;
}
/* line 32, ../sass/creative.scss */
.toolbar-widget > div > ul li:not(.active):hover {
  background: none repeat scroll 0% 0% #37383E !important;
}

/* line 38, ../sass/creative.scss */
.toolbar-widget-categorie-list {
  background: inherit !important;
}
/* line 40, ../sass/creative.scss */
.toolbar-widget-categorie-list li {
  background: inherit !important;
}
/* line 42, ../sass/creative.scss */
.toolbar-widget-categorie-list li a {
  background: inherit !important;
  color: inherit !important;
}
/* line 46, ../sass/creative.scss */
.toolbar-widget-categorie-list li div {
  background: inherit !important;
  padding: 0 !important;
}
/* line 50, ../sass/creative.scss */
.toolbar-widget-categorie-list li div ul li {
  background: inherit !important;
}
/* line 52, ../sass/creative.scss */
.toolbar-widget-categorie-list li div ul li a {
  padding: 0 !important;
}

/* line 63, ../sass/creative.scss */
.toolbar-parameter {
  position: absolute !important;
  width: 100% !important;
  top: 60% !important;
}
/* line 67, ../sass/creative.scss */
.toolbar-parameter div {
  margin-bottom: 0.8em !important;
}
/* line 69, ../sass/creative.scss */
.toolbar-parameter div h2 {
  color: inherit !important;
  font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif !important;
  margin: 5px 15px !important;
}

/* line 77, ../sass/creative.scss */
.toolbar-parameter-edition div {
  margin: 0 !important;
  padding: 0 !important;
}
/* line 80, ../sass/creative.scss */
.toolbar-parameter-edition div label {
  padding: 0 !important;
  margin: 0 !important;
  padding-top: 1px !important;
  padding-right: 3px !important;
}
/* line 85, ../sass/creative.scss */
.toolbar-parameter-edition div input[type="text"] {
  box-shadow: none !important;
  border: none !important;
  color: inherit !important;
  background: inherit !important;
  text-decoration: underline !important;
  height: auto !important;
  padding: 0 !important;
  margin: 0 !important;
}

/* line 98, ../sass/creative.scss */
.global-toolbar {
  height: 40px !important;
  padding: 0 !important;
  margin: 0 !important;
}
/* line 101, ../sass/creative.scss */
.global-toolbar * {
  margin-bottom: 0 !important;
}
/* line 104, ../sass/creative.scss */
.global-toolbar > div {
  max-width: 100% !important;
}
/* line 106, ../sass/creative.scss */
.global-toolbar > div > div {
  display: inline-flex !important;
}
/* line 108, ../sass/creative.scss */
.global-toolbar > div > div > label {
  padding: 0px 5% !important;
}
/* line 110, ../sass/creative.scss */
.global-toolbar > div > div > label div {
  display: inline-table !important;
}
/* line 114, ../sass/creative.scss */
.global-toolbar > div > div input {
  background: inherit !important;
  box-shadow: none !important;
  border: none !important;
  text-align: center !important;
  font-size: 1.2rem !important;
}
/* line 121, ../sass/creative.scss */
.global-toolbar > div > div .global-toolbar-responsive {
  display: inline-flex !important;
}
/* line 123, ../sass/creative.scss */
.global-toolbar > div > div .global-toolbar-responsive > label {
  padding-top: 7px !important;
  padding-right: 3% !important;
  text-align: right !important;
}
/* line 129, ../sass/creative.scss */
.global-toolbar > div > div button {
  font-size: 80% !important;
  padding: 3px 15px !important;
}
/* line 134, ../sass/creative.scss */
.global-toolbar > div > div:last-child {
  min-width: 150px !important;
}
