@import "mixins";

.creative-page {
	@include calc(height, "100% - #{$header_height}");
}

.toolbar {
	color : $light_grey_color;
	background: none repeat scroll 0% 0% $dark_grey_color;
}
.toolbar-meta-widget {
	width: 100% !important;
	>div {
		>ul {
			border-bottom: 1px solid #565656 !important;
			li {
				background: none repeat scroll 0% 0% $widget_toolbar_title_color !important;
				padding: 4px !important;
				border-style: solid !important;
		    	border-right: 1px solid #676767 !important;
		    	a {
		    		background: inherit !important;
		    		color: inherit !important;
		    		padding: 0 !important;
		    	}
			}
			li.active {
				background: none repeat scroll 0% 0% $widget_toolbar_title_active_color !important;
		    	cursor: default;
			}
			li:not(.active):hover {
				background: none repeat scroll 0% 0% $widget_toolbar_title_hover_color !important;
			}
		}
	}
}
.toolbar-meta-widget-categorie-list {
	background: inherit !important;
	li {
		background: inherit !important;
		a {
    		background: inherit !important;
    		color: inherit !important;
		}
		div {
			background: inherit !important;
			padding: 0 !important;	
			ul {
				li {
					background: inherit !important;
					a {
						padding: 0 !important;
					}
				}
			}
		}
	}
}



.toolbar-parameter {
  width: 100% !important;
  height: 40% !important;
  position: absolute !important;
  bottom: -40%;
  transition: bottom 300ms;
	div {
		margin-bottom: 0.8em !important;
		h2 {
			color: inherit !important;
			font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif !important;
			margin: 5px 15px !important;
		}
	}
}
.toolbar-parameter-edition {
	div {
		margin: 0 !important;
		padding: 0 !important;
		label {
			@include pad-marg(0);
			padding-top: 1px !important;
			padding-right: 3px !important;
		}
		input[type="text"] {
			box-shadow: none !important;
			border: none !important;
			color: inherit !important;
			background: inherit !important;
			text-decoration: underline !important;
			height: auto !important;
			@include pad-marg(0);
		}
	}
}


.global-toolbar {
	height: $global_toolbar_height !important;
	overflow: hidden;
	@include pad-marg(0);
	* {
		margin-bottom: 0 !important;
	}
	>div {
		max-width: 100% !important;
		>div:not(.devices) {
			display: inline-flex !important;
			>label {
				padding: 0px 5% !important;
				div {
					display: inline-table !important;
				}
			}
			input {
				background: inherit !important;
				box-shadow: none !important;
				border: none !important;
				text-align: center !important;
				font-size: 1.2rem !important;
			}
			button {
			    font-size: 80% !important;
    			padding: 7px 15px !important;
			}
		}
		>div:last-child {

			min-width: 150px !important;
            >ul{
                text-align: center !important;
                width: 150px;
                >li{
                    >button{
                        font-size: 90%;
                        padding: 6px 15px !important;
                    }
                    
                    #checkbox_rotate{
                        display: none;
                    }
                }
            }
		}
	}
}

.device-draggable {
	position: relative;
	cursor: move;
	top: 150px;
	z-index: 10000;
	display: none;
	iframe {
		cursor: auto;
        height: 100%;
        width: 100%;
	}
}

#mockup-tablet {
	width: 750px;
}

#mockup-desktop {
	width: 1500px;
}

#mockup-mobile {
	width: 275px;
}

.mockup-rotate {
	-webkit-transform : rotate(90deg);
    -moz-transform : rotate(90deg);
    -ms-transform : rotate(90deg);
    transform : rotate(90deg);
}

.iframe-rotate {
	-webkit-transform : rotate(90deg);
    -moz-transform : rotate(90deg);
    -ms-transform : rotate(90deg);
    transform : rotate(-90deg);
}


.show-meta-widget-preview {
	.meta-widget-preview {
		display: none;
		position: fixed;
		pointer-events: none;
	}
}

.show-meta-widget-preview:hover {
	>.meta-widget-preview {
		display: inline;
	}
}

.draggable {
	cursor: move;
}
