@import "mixins";

.stage {
	@include calc(height, "100% - #{$global_toolbar_height}");
	background-color: white !important;
	overflow-y: scroll;
}

.droppable {
	height:100px;
	border: 1px solid black;
}