{% extends "TyrBundle::layout.html.twig" %}

{% block body %}
<section class="section-register-confirm">
		<div class="row">
	        <h1> Registration completed <i class="fi-check"></i> </h1>
	        <a class="button success radius large-6" href="{{path('profile')}}">Visit my profile</a>
        </div>
</section>
{% endblock body %}
  


