{% extends "TyrBundle::layout.html.twig" %}

{% block body %}
<section class="section-projet">
        Registration complete : you can now visit your profile.
        <button class="button success radius" href="{{path('profile')}}">My profile</button>
</section>
{% endblock body %}
  


