<<<<<<< HEAD
<div class="panel">
	<div class="large-1 columns">
    	<p> Ymir </p>
    </div>
    <div class="large-1 columns ">
    	<!-- <IMG src= "D:\Programmes\wamp\www\ymir\Ymir\web" alt="Logo" title="Ymir"> -->
    	<p> Logo </p>
    </div>
    <div class="large-1 columns ">
    	<!-- <IMG src= "D:\Programmes\wamp\www\ymir\Ymir\web" alt="Logo" title="Ymir"> -->
    	<p> User Name </p>
    </div>
</div>
=======
<div class="panel">  
    	<h1> Ymir </h1>
        <div class="text-left">
            <!-- <IMG src= "D:\Programmes\wamp\www\ymir\Ymir\web" alt="Logo" title="Ymir"> -->
            <p> Logo </p>
        </div>
    <div class="text-left">
        <div id ="user">Kévin jean</div>
        <div class ="button">Login</div>
        <div class ="button">Logout</div>
    </div>
</div> 
>>>>>>> d6a48864fa7e0d4583556fa4b7dee2fd88d55f4b
