
<div class="panel"> 
	<div class ="large-1 columns">
		<h1> Ymir </h1>
	</div>
    <div class="large-1 columns">
        <!-- <IMG src= "D:\Programmes\wamp\www\ymir\Ymir\web" alt="Logo" title="Ymir"> -->
        <p> Logo </p>
    </div>
    <div class="text-right">
        <span id ="user">Kévin jean</span>
        <div class ="tiny button radius">Logout</div>
    </div>
</div>