
<div class="panel">  
    	<h1> Ymir </h1>
        <span class="text-left">
            <!-- <IMG src= "D:\Programmes\wamp\www\ymir\Ymir\web" alt="Logo" title="Ymir"> -->
            <p> Logo </p>
        </span>
    <div class="text-left">
        <span id ="user">Kévin jean</span>
        <div class ="button">Logout</div>
    </div>
</div> 