<div class="panel">  
    	<h1> Ymir </h1>
        <div class="text-left">
            <!-- <IMG src= "D:\Programmes\wamp\www\ymir\Ymir\web" alt="Logo" title="Ymir"> -->
            <p> Logo </p>
        </div>
    <div class="text-left">
        <div id ="user">Kévin jean</div>
        <div class ="button">Login</div>
        <div class ="button">Logout</div>
    </div>
</div> 