{% extends "TyrBundle::layout.html.twig" %}

{% block body %}
<section>
        <div class="panel">
            <div class ="row">
                <h1>MES PROJETS </h1>
                <hr><hr>
            </div>
            <div class ="row">
                <div class ="project-list" id="project-panel" >           
                            <!-- Backbone template -->
                </div>
            </div>
        </div>
</section>
<footer>
        {{ include("TyrBundle:Profil:footer.html.twig") }}
</footer>



<script type="text/template" id="list-projet-template">
        <div class="row ">
              <div class="small-8 large-8 columns nameholder" data-id="<%= id%>">
                <h2><a href="#projet-<%= id%>"><%= name%></a></h2>
              </div>
              <div class="small-2 large-2 columns">
                <a class="download-project" data-id="<%= id%>"><i class="fi-download"></i></a>
              </div>
              <div class="small-2 large-2 columns">
                <a class="remove-project" data-id="<%= id%>"><i class="fi-x"></i></a>
            </div>
        </div>				  
        <div id="projet-<%= id%>" class="content">
			<ul class="dropdown">
                <% pages.each(function(page) { %>
                <li class ="list-page">
                    <div class="row ">
                        <div class="small-8 large-8 columns">
                            <%= page.get('title') %>
                        </div>
				        <div class="small-2 large-2 columns">
                            <a class="edit-page" href ="creative/<%= page.get('id')%>" data-pid="<%= id%>" data-id="<%= page.get('id')%>"><i class="fi-page-edit"></i></a>
                        </div>
				        <div class="small-2 large-2 columns">
                            <a class="remove-page" data-pid="<%= id%>" data-id="<%= page.get('id')%>"><i class="fi-x"></i></a>
                        </div>
                    </div>
                </li>
                <% }); %>
                <a class="add-page" data-pid="<%= id%>"><i class="fi-plus"></i> Add Page</a>
            </ul>
		</div>
        <hr>
</script>
{% endblock body %}


{% block javascripts %}
    {{ parent() }}
  
<script>
    window.onload = function() {
        console.log("app init");
        app.init(false);
        $(document).foundation();
    }
</script>
{% endblock javascripts %}
  


