<div class="panel">
	<h1> Widgets Favoris </h1>
	<br>
	<ul class="list">
		<li>
			<div class ="row">
				<div class ="large-2 columns">
					<p> Widget 1 </p>
				</div>
				<div class ="large-5 columns end">
					<ul class="inline-list">
					  <li><a href="#"><i class="fi-pencil"></i></a></li>
					  <li><a href="#"><i class="fi-x"></i></a></li>
					</ul>
				</div>
			</div>
		</li>
	</ul>
</div>