<div class="panel">
	<div class ="row">
		<div class ="large-2 columns">
			<h1> Projets </h1>
		</div>
		<div class ="large-2 columns">
			<a href="#" class="button small radius">New Project</a>
		</div>
	</div>
	<ul class="list">
		<li>
			<div class ="row">
				<div class ="large-2 columns">
					<p> Projet 1 </p>
				</div>
				<div class ="large-10 columns">
					<ul class="inline-list">
					  <li><a href="#">Edit</a></li>
					  <li><a href="#">Pages </a></li>
					  <li><a href="#">DL </a></li>
					  <li><a href="#">Delete </a></li>
					</ul>
				</div>
			</div>
			<ul class="list">
				<li>
					<div class ="row">	
						<div class ="large-1 columns">
							<p> Page 1 </p>
						</div>
						<div class ="large-5 columns end">
							<ul class="inline-list">
							  <li><a href="#">Edit</a></li>
							  <li><a href="#">Delete </a></li>
							</ul>
						</div>
					</div>
				</li>
				<li>
					<div class ="row">	
						<div class ="large-1 columns">
							<p> Page 2 </p>
						</div>
						<div class ="large-5 columns end">
							<ul class="inline-list">
							  <li><a href="#">Edit</a></li>
							  <li><a href="#">Delete </a></li>
							</ul>
						</div>
					</div>
				</li>
				<li><a href="#">Nouvelle Page</a></li>
		    </ul>
		</li>
		<br>
		<li>
			<div class ="row">	
				<div class ="large-2 columns">
					<p> Projet 2 </p>
				</div>
				<div class ="large-10 columns">
					<ul class="inline-list">
					  <li><a href="#">Edit</a></li>
					  <li><a href="#">Pages </a></li>
					  <li><a href="#">DL </a></li>
					  <li><a href="#">Delete </a></li>
					</ul>
				</div>
			</div>
			<ul class="list">
				<li>
					<div class ="row">	
						<div class ="large-1 columns">
							<p> Page 1 </p>
						</div>
						<div class ="large-5 columns end">
							<ul class="inline-list">
							  <li><a href="#">Edit</a></li>
							  <li><a href="#">Delete </a></li>
							</ul>
						</div>
					</div>
				</li>
				<li>
					<div class ="row">	
						<div class ="large-1 columns">
							<p> Page 2 </p>
						</div>
						<div class ="large-5 columns end">
							<ul class="inline-list">
							  <li><a href="#">Edit</a></li>
							  <li><a href="#">Delete </a></li>
							</ul>
						</div>
					</div>
				</li>
				<li><a href="#">Nouvelle Page</a></li>
		    </ul>
		</li>
	</ul>
</div>