<div class="panel">
	<div class ="row">
		<div class ="large-2 columns">
			<h1> Projets </h1>
		</div>
		<div class ="large-2 columns">
			<a href="#" class="button small radius">New Project</a>
		</div>
	</div>
	<ul class="list">
		<li>
			<div class ="row">
				<div class ="large-1 columns">
					<p> Projet 1 </p>
				</div>
				<ul class="inline-list">
					<li><a href="#"><i class="fi-pencil"></i></a></li>					  
					<li><a href="#"><i class="fi-download"></i></a></li>
					<li><a href="#"><i class="fi-x"></i></a></li>
					<li>
						<ul class="accordion" data-accordion="pages1">
							<li class="accordion-navigation"><a href="#p1"><i class="fi-arrow-down "></i></a>
								<div id="p1" class="content ">
									<ul class="list">
										<li>
											<div class ="row">	
												<div class ="large-2 columns">
													<p> Page 1 </p>
												</div>
												<div class ="large-5 columns end">
													<ul class="inline-list">
													  <li><a href="#editpage"><i class="fi-page-edit"></i></a></li>
													  <li><a href="#deletepage"><i class="fi-x"></i></a></li>
													</ul>
												</div>
											</div>
										</li>
										<li>
											<div class ="row">	
												<div class ="large-1 columns">
													<p> Page 2 </p>
												</div>
												<div class ="large-5 columns end">
													<ul class="inline-list">
													  <li><a href="#editpage"><i class="fi-page-edit"></i></a></li>
													  <li><a href="#deletepage"><i class="fi-x"></i></a></li>
													</ul>
												</div>

											</div>
										</li>
										<li><a href="#newpage"><i class="fi-page-add"></i></a></li>
								    </ul>
								</div>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</li>
		<br>
		<li>
			<div class ="row">
				<div class ="large-1 columns">
					<p> Projet 2 </p>
				</div>
				<ul class="inline-list">
					<li><a href="#"><i class="fi-pencil"></i></a></li>					  
					<li><a href="#"><i class="fi-download"></i></a></li>
					<li><a href="#"><i class="fi-x"></i></a></li>
					<li>
						<ul class="accordion" data-accordion="pages1">
							<li class="accordion-navigation"><a href="#p2"><i class="fi-arrow-down "></i></a>
								<div id="p2" class="content ">
									<ul class="list">
										<li>
											<div class ="row">	
												<div class ="large-2 columns">
													<p> Page 1 </p>
												</div>
												<div class ="large-5 columns end">
													<ul class="inline-list">
													  <li><a href="#editpage"><i class="fi-page-edit"></i></a></li>
													  <li><a href="#deletepage"><i class="fi-x"></i></a></li>
													</ul>
												</div>
											</div>
										</li>
										<li>
											<div class ="row">	
												<div class ="large-1 columns">
													<p> Page 2 </p>
												</div>
												<div class ="large-5 columns end">
													<ul class="inline-list">
													  <li><a href="#editpage"><i class="fi-page-edit"></i></a></li>
													  <li><a href="#deletepage"><i class="fi-x"></i></a></li>
													</ul>
												</div>

											</div>
										</li>
										<li><a href="#newpage"><i class="fi-page-add"></i></a></li>
								    </ul>
								</div>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</li>
	</ul>
</div>